*.csv
*.txt
clean_data/*.csv
clean_data/*.txt
clean_data/*.dict
clean_data/*.mm
clean_data/*.index
clean_data/tempName.*
clean_data/*.py
clean_data/*.model
clean_data/pic/
__pycache__
.ipynb_checkpoints
clean_data/__pycache__
clean_data/.ipynb_checkpoints
clean_data/pic.png
clean_data/*.pickle
model/
*.pickle
